.dashboard {
    height: 100%;
    max-width: 640px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
 	.dashboard {
 		max-width: initial;
 	}
 }