.dashboard {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.dashboard-section {
	padding: 32px;
}

.section-status {
    /**/
}

.section-lastlog {
    flex: 0 0 auto;
}

.section-sleepchart {
    flex: 1 1 auto;
}
