.meteor/local
.meteor/meteorite
.meteor/.finished-upgraders
.meteor/.gitignore
.meteor/.id
.meteor/platforms
.meteor/release
.meteor/versions
packages/*
private/luddelogg.pem
private/luddelogg-unused.txt
private/luddelogg-auth.json
luddelogg.sublime-project
luddelogg.sublime-workspace
private/olddata.csv