.meteor/local
.meteor/meteorite
.meteor/.finished-upgraders
.meteor/.gitignore
.meteor/.id
.meteor/packages
.meteor/platforms
.meteor/release
.meteor/versions
private/luddelogg.pem
private/luddelogg-unused.txt
private/luddelogg-auth.json
packages
luddelogg.sublime-project
luddelogg.sublime-workspace