h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #444;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
}

.color-default {
    background-color: hsl(0, 0%, 60%);
}

.color-sleep-default {
    background-color: hsl(231, 100%, 76%);
}

.color-sleep-nap1 {
    background-color: hsl(37, 100%, 50%);
}

.color-sleep-nap2 {
    background-color: hsl(230, 44%, 55%);
}

.color-sleep-night {
    background-color: hsl(122, 39%, 49%);
}
