$color-accentgrey: hsl(210, 5%, 95%);
$color-blue-active: hsla(200, 90%, 40%, 100%);
$color-blue: hsla(200, 85%, 50%, 100%);
$color-transparent: hsla(200, 0%, 100%, 0%);
$theme-loader-fg: hsl(210, 50%, 50%);