@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);
@color-accentgrey: hsl(210, 5%, 95%);
@color-blue: hsla(200, 85%, 50%, 100%);
@color-blue-active: hsla(200, 90%, 40%, 100%);
@color-transparent: hsla(200, 0%, 100%, 0%);
body {
    color: #333;
    background-color: #f1f1f1;
    font-family: Roboto, sans serif;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.ui-card {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 24px;
    margin: 24px;
    min-width: 400px;
}

.ui-paneview {
    display: flex;
    flex-flow: row nowrap;
}

.ui-pane {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}

.ui-pane + .ui-pane {
    padding-left: 24px;
    border-left: 2px dashed @color-accentgrey;
}

.ui-buttonbar {
    padding: 6px 0;
}

.ui-button {
    padding: 6px 9px;
    font-size: 1.0em;
    cursor: pointer;
    border: 1px solid @color-transparent;
    background-color: @color-transparent;
    outline: none;
    box-shadow: 0 0 0 2px @color-blue;
    color: @color-blue;
    border-radius: 2px;
    text-transform: uppercase;
    user-select: none;
}

.ui-button-large {
    .ui-button;
    padding: 12px 18px;
    font-size: 1.3em;
}

.ui-button-tiny {
    box-shadow: 0 2px 0 0 @color-blue;
    text-transform: initial;
    padding: 3px 6px;
    font-size: 0.9em;
}

.ui-button.mod-tapped,
.ui-button:hover {
    background-color: fade(@color-blue-active, 5%);
    box-shadow: 0 0 0 2px @color-blue-active;
    color: @color-blue-active;
}

.ui-button + .ui-button {
    margin-left: 24px;
}

.ui-button:active,
.ui-button.mod-active {
    background-color: @color-blue;
    color: white;
}

.ui-button.mod-active.mod-tapped,
.ui-button.mod-active:hover {
    background-color: @color-blue-active;
}

.ui-button.mod-disabled {
    background-color: #999;
}

.ui-button.mod-spaceleft {
    margin-left: auto;
}

.ui-button-label {
    padding: 12px 0;
    margin-right: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 12px;
        padding: 0;
        margin: 0;
    }
    .ui-card {
        min-width: initial;
        padding: 12px;
        margin: 12px;
    }
    .ui-card + .ui-card {
        margin: 0 12px 12px;
    }
    .db-messages {
        font-size: 0.5em;
    }
    .db-log {
        font-size: 0.75em;
    }
}

// iphone 6 in landscape
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .ui-card {
        overflow: auto;
        min-width: initial;
        padding: 18px;
        margin: 18px;
    }
    .ui-card + .ui-card {
        margin: 0 18px 18px;
    }
    .sleepchart {
        font-size: 11px;
        padding: 0 6px;
    }
    .sleepchart-row {
        height: 24px;
    }
    rowheader {
        flex: 0 0 50px;
        margin: 0 0 0 8px;
    }
    .ui-paneview {
        display: flex;
        flex-flow: column nowrap;
    }
    .ui-pane + .ui-pane {
        border: none;
        padding: 0;
    }
    .db-messages {
        font-size: 1.0em;
    }
    .db-log {
        font-size: 0.85em;
    }
}
