sleepchart {
    display: block;
    position: relative;
    width: 100%;
}

sleeprow {
    display: flex;
    height: 40px;
    align-items: center;
    &.mod-weekend {
        //    background-color: #e8e8e8;
    }
    &.mod-today {
        height: 48px;
        background-color: white;
        border: 1px solid #abf;
    }
    &:not(.mod-weekend) + &.mod-weekend {
        border-top: 1px solid lightgray;
    }
    &.mod-weekend + &:not(.mod-weekend) {
        border-top: 1px solid lightgray;
    }
}

rowheader {
    display: block;
    flex: 0 0 64px;
    margin: 0 0 0 8px;
}

rowevents {
    display: block;
    font-size: 12px;
    position: relative;
    flex: 1 1 auto;
    height: calc(100% - 8px);
}

event {
    display: block;
    position: absolute;
    height: 100%;
    margin: auto;
    color: white;
    cursor: pointer;
    &.event-sleep {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    &.event-food {
        overflow: visible;
        width: 1px;
    }
    &.event-sleep-estimate {
        content: flex-end;
        background: repeating-linear-gradient( 45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 4px, rgba(255, 255, 255, 0.3) 4px, rgba(255, 255, 255, 0.3) 8px);
    }
    &.event-generic {
        width: 10px;
        background-color: hsl(14, 100%, 57%);
        height: 10px;
        margin: 16px 0;
        border-radius: 50%;
    }
}

timeline {
    color: white;
    display: block;
    position: absolute;
    top: -4px;
    left: -1px;
    height: calc(100% + 2px);
    width: 3px;
    padding: 0;
    z-index: 1;
    background-color: red;
    overflow: visible;
}

timestamp {
    display: block;
    position: absolute;
    padding: 3px 6px;
    background-color: red;
    border: 2px solid white;
    text-align: center;
    border-radius: 12px;
    width: 48px;
    left: -22px;
    top: -8px;
}

.event-time {
    position: absolute;
    left: 3px;
    top: 3px;
    flex: 0 0 auto;
    overflow: hidden;
}

.event-duration {
    text-align: center;
    overflow: hidden;
    flex: 1 1 auto;
}

.event-end {
    position: absolute;
    text-align: right;
    bottom: 3px;
    right: 3px;
    flex: 0 1 auto;
    overflow: hidden;
}

.sleepchart-row-event-label {
    /**/
}

.sleepchart-tooltip {
    background: #eef;
    border: 2px solid #dde;
    box-shadow: 0 2px 4px #000;
    position: fixed;
}

.mod-hilight {
    /**/
}

.event-icon {
    position: absolute;
    width: 16px;
    height: 100%;
    background-position: 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    right: -8px;
}

.event-icon-bottle {
    background-image: url("food-bottle.svg");
}

.event-icon-meal {
    background-image: url("food-meal.svg");
}

.event-icon-oatmeal {
    background-image: url("food-oatmeal.svg");
}

.event-icon-sandwich {
    background-image: url("food-sandwich.svg");
}

.event-icon-fruit {
    background-image: url("food-fruit.svg");
}

.event-icon-drops {
    background-image: url("drops.svg");
}

.sleepchart-options {
    display: flex;
}

.sleepchart-option {
    display: flex;
    padding: 12px;
    cursor: pointer;
}

.sleepchart-option-checkbox {
    display: inline-block;
    margin: -1px 5px 0 0;
}

.sleepchart-option-checkbox:before {
    content: "\2610";
}

.sleepchart-option-checkbox.mod-checked:before {
    content: "\2611";
}

.mod-hidden {
    display: none;
}
