.status {
    /**/
}

.status-currentstate {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 0 0 auto;
    margin: 0 0 24px;
}

.status-state-icon {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 80px;
}

.status-state-icon-awake {
    background-image: url('state-awake.svg');
}

.status-state-icon-asleep {
    background-image: url('state-asleep.svg');
}

.status-stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.status-stats-box {
    display: flex;
    flex-flow: column nowrap;
}

.stats-box-left {
    align-items: flex-start;
}

.stats-box-right {
    align-items: flex-end;
}

.status-foodicon {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 20px;
    filter: grayscale(100%);
}
