.status {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}
.status-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    margin: 0 0 24px;
}
.status-state-icon {
    width: 96px;
    height: 96px;
    background-repeat: no-repeat;
    background-size: 96px;
}
.status-state-icon-awake {
    background-image: url('state-awake.svg');
}
.status-state-icon-asleep {
    background-image: url('state-asleep.svg');
}
